@font-face {
    font-family: norse-bold;
    src: url(assets/Norse-Bold.otf);
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    display: flex;
    height: 100vh;
    width: 100vw;
}

/* Left side */

.side-hero {
    background-image: url(assets/side-hero.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 40vw;
    text-align: center;
}

.side-hero p {
    color: white;
    position: relative;
    bottom: -79vh;
    font-size: 1rem;
}

.side-hero span {
    text-decoration: underline;
}

.side-hero a {
    color: white;
}

.logo {
    height: auto;
    background-color: rgba(0, 0, 0, 0.4);
    position: relative;
    top: 20vh;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo h1 {
    color: white;
    font-size: 7rem;
    font-family: norse-bold;
}

.odin {
    height: 15vh;
}

/* Right side */

.form-content {
    width: 60vw;
    display: flex;
    flex-direction: column;
    background-color: #F2F3F4;
}

.left-gap {
    padding-left: 2vw;
}

.form-heading {
    padding-top: 130px;
    padding-bottom: 50px;
    font-size: 1.5rem;
    font-weight: 700;
}

.form-heading p:last-of-type {
    margin-top: 20px;
}

.form-inputs {
    background-color: white;
    margin-bottom: 30px;
    box-shadow: 0px 15px 8px -18px #111
}

.form-inputs form {
    max-width: 50vw;
}

.form-inputs fieldset {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    border: 0;
    margin-top: 20px;
    margin-bottom: 40px;
}

legend {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.data-field {
    display: flex;
    flex-direction: column;
    width: 35%;
}

.data-field input {
    padding: 7px;
    margin-right: 50px;
    border: 1px solid #E4E5E6;
    border-radius: 3px;
}

.data-field label {
    font-size: 0.8rem;
    font-weight: 500;
}

button {
    width: 20%;
    margin-left: 2vw;
    margin-bottom: 30px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    background-color: #596D48;
    font-size: 1rem;
    color: white;
    font-weight: 500;
}

.log-in {
    font-weight: 500;
}

.log-in a {
    text-decoration: none;
    color:#596D48;
    font-weight: 700;
}


